*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    width: 100%;
    max-width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.green{
    background-color: rgb(73, 232, 73);
    height: 80%;
    border: 1px solid blue;
}
